body {
  font-family: 'Raleway';
  text-align: center;
  background-color: #eeeeee;
}

.banner img {
  margin-top: -10px;
  width: auto;
  height: 600px;
}

h2 {
  margin-top: 55px;
  font-size: 40px;
}

.contact-form {
  padding-top: 10px;
  margin-top: -40px;
}

#mc_embed_signup {
  clear:left;
  font:14px 'Raleway';
  width:100%;
}

.hidden {
  position: absolute;
  left: -5000px;
}
#mc_embed_signup .button {
  background-color: #00c4ff !important;
  height: 50px !important;
  width: 125px !important;
  border-radius: 5px !important;
  color: white !important;
  font-family: 'Raleway' !important;
  font-weight: 600 !important;
  display: inline-block !important;
  font-size: 18px !important;
  border-color: #00c4ff !important;
  text-align: center !important;
}


#mc_embed_signup input {
  height: 50px !important;
  border-radius: 5px !important;
  border: 1px solid lightgray !important;
  font-size: 14px !important;
  width: 200px !important;
  text-align: center !important;
}
.submit {
  padding-left: 10px;
  display: inline-block;
}
